:root {
    --text-primary: #18345E;
}
html {
    font-size: 62.5%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.4rem;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    color: #22C1DC;
    text-decoration: none;
    background-color: transparent;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.container > .instructive {
    display: none;
}
.container > .main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main__form {
    width: calc(100% - 20px);
    max-width: 465px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    padding: 0 10px;
}
h1 {
    color: var(--text-primary);
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 48px;
}
label {
    color: var(--text-primary);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 2px;
}
input {
    width: calc(100% - 24px);
    height: 28px;
    background: #F4F2F2;
    border-radius: 6px;
    border: none;
    padding: 12px; 
    margin-bottom: 22px;
    opacity: 0.5;
}
select {
    width: 100%;
    background: #F4F2F2;
    border-radius: 6px;
    border: none;
    padding: 12px; 
    margin-bottom: 22px;
    opacity: 0.5;
}
button {
    height: 50px;
    background: #F0AB20;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    border: none;
    color: var(--text-primary);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
    margin:15px 0px 29px 0px;
}
.main__btn-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main__btn-container > button {
    width: 100%;
}
span {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 28px;
    color: rgba(49, 46, 129, 0.8);
    text-align: center;
}
span > a {
    color: #22C1DC;
    font-weight: 700;
}
.home {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media screen and (min-width: 930px) {
    .container {
        justify-content: space-between;
    }
    .container > .instructive {
        display: flex;
        width: 50%;
        height: 100vh;
        background: #F0AB20;
        flex-direction: column;
        justify-content: center;
    }
    .instructive__img {
        width: 100%;
        height: 50%;
        object-fit: cover;
    }
    .instructive__img > img {
        width: 100%;
        height: 100%;
    }
    .container > .main {
        width: 50%;
    }
}
